.about{
    height: 200vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: '';
    flex-direction: column;
    background-color: #eff2f1;
}
.about .about-content-card{
    padding: 100px 0px;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;
    background-color: '';
}
.shop-sofa{
    height: 400px;
    width: 400px;
    position: relative;
    left: 400px;
}