.blog-card{
    height:auto;
    width: 100%;
    background-color: #eff2f1;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.blog-content{
    padding: 40px 0px;
    height: 100%;
    width: 90%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.blog-content div{
    display: flex;
    margin: 20px 10px;
    background-color:'';
}
.blog-sofa{
    height: 350px;
    width: 400px;
    position: relative;
    left: -70px;
    /* right: 100px; */
    top: -130px;
}